h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-color: #262626;
  -webkit-font-smoothing: subpixel-antialiased;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Digital";
  src: url("../src/fonts/digital-7-italic.ttf");
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 120px 10px 0 10px;
  text-align: center;
}

.stopwatch {
  margin-bottom: 32px;
}

.stopwatch-digits {
  font-size: 10em;
  font-family: "Digital";
  color: #ededed;
}

.control-button {
  width: 60px;
  height: 60px;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 20px;
}

.control-button:last-child {
  margin-right: 0;
}

.start {
  background-color: #229954;
  color: #ededed;
}

.stop {
  background-color: #f24f4f;
  color: #fbc6c6;
}

.reset {
  background-color: #797d7f;
  color: #dbdbdb;
}

.start,
.stop,
.reset,
.subject-input,
.subject-btn {
  opacity: .6;
  transition: .2s ease-in-out;
}

.start:hover,
.stop:hover,
.reset:hover,
.subject-input:hover,
.subject-btn:hover {
  opacity: .8;
  cursor: pointer;
}

.subject {
  margin-bottom: 45px;
}

.subject-input,
.subject-output {
  font-size: .9em;
  font-family: Verdana;
  color: #dbdbdb;
}

.subject-input {
  width: 350px;
  height: 35px;
  background-color: #3d3d3d;
  padding-left: 7px;
  margin: 0 5px 20px 0;
  border: none;
  border-radius: 4px;
}

.subject-btn {
  width: 34px;
  height: 34px;
  font-family: Verdana;
  background-color: #3d3d3d;
  color: #dbdbdb;
  line-height: 34px;
  border-radius: 4px;
}

.subject-btn span {
  font-size: 1.3em;
}

.remove-output {
  background-color: #1e1e1e;
}

@media (max-width: 600px) {
  .stopwatch-digits {
    font-size: 8em;
  }
}

@media (max-width: 475px) {
  .stopwatch-digits {
    font-size: 6em;
  }

  .subject-input {
    display: block;
    margin: 10px auto;
  }

  .subject-output {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .stopwatch-digits {
    font-size: 5em;
  }

  .subject-input {
    width: 300px;
    font-size: .8em;
  }
}
